<div
  id="Character Card"
  class="d-flex border overflow-hidden m-2 shadow character-card"
>
  <div class="col d-flex">
    <img
      [src]="this.inCharacterInfo?.image"
      alt="{{this.inCharacterInfo?.name}}"
    />
  </div>
  <div class="col d-flex overflow-auto p-3">
    <section>
      <a [href]="'/characters/detail/'+this.inCharacterInfo?.id" class="text-decoration-none"><h4>{{this.inCharacterInfo?.name}}</h4></a>
      <div class="d-flex align-items-baseline">
        <div
          id="circulo color"
          class="green-point"
        ></div>
        <span class="col ps-2">{{this.inCharacterInfo?.status}} - {{this.inCharacterInfo?.species}}</span>
      </div>
      <div class="section mt-1">
        <span class="text-secondary">Location: </span><br />
        <a href="'{{this.inCharacterInfo?.location?.url}}'" class="text-decoration-none">{{this.inCharacterInfo?.location?.name}}</a>
      </div>
      <div class="section mt-1">
        <span class="text-secondary">Origin: </span><br />
        <a href="'{{this.inCharacterInfo?.origin?.name}}'" class="text-decoration-none">{{this.inCharacterInfo?.origin?.name }}</a>
      </div>
    </section>
  </div>
</div>
