<div id="NavBar" class="container-fluid py-3 bg-light shadow sticky-top">
  <ul class="nav justify-content-between">
    <div class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/characters"
          [ngClass]="activeTab(0)"
          (click)="onSelectTab(0)"
          >Characters</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/locations"
          [ngClass]="activeTab(1)"
          (click)="onSelectTab(1)"
          >Locations</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/episodes"
          [ngClass]="activeTab(2)"
          (click)="onSelectTab(2)"
          >Episodes</a
        >
      </li>
    </div>
    <form
      [formGroup]="this.searchForm"
      (submit)="this.onSearchButton()"
      class="d-flex"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        formControlName="searchWord"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </ul>
</div>
<br />
<div class="container-fluid justify-content-center">
  <router-outlet></router-outlet>
</div>
