<!-- <div class="content justify-content-center" > -->
    <div class="row row-cols-auto d-inline-flex justify-content-evenly">
        <app-character-card *ngFor="let charInfo of characterList?.results" [inCharacterInfo]="charInfo" class="col"></app-character-card>
        <!-- <app-character-card class="col"></app-character-card>
        <app-character-card class="col"></app-character-card>
        <app-character-card class="col"></app-character-card>
        <app-character-card class="col"></app-character-card> -->
    </div>
<!-- </div> -->
